
<div class="wrapper">
  <div class="sidebar">
    <div class="profile">
      <img src="../assets/profil_n.png" alt="">
      <h3>Fredrik Lundkvist</h3>
      <p>Studerande Frontendutvecklare</p>
    </div>
    <div class="tour-of-heroes-top-header">
      <h1>{{ title }}</h1>
    </div>
    <div class="tour-of-heroes-top-nav">
      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/heroes">Heroes</a>
      </nav>
    </div>
    
  </div>
</div>
  


<router-outlet></router-outlet>
