
*{
    box-sizing: border-box;
}

/* Sidebar Start */
.sidebar-opener{
    cursor: pointer;
}


/* Sidebar End */



.tour-of-heroes-top-header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: green;
}
.tour-of-heroes-top-nav{
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 2em;

    align-items: baseline;
    justify-content: space-evenly;
    a{
        display: flex;
        justify-content: space-evenly;
    }
}